@charset "utf-8";

body {
    box-sizing: border-box;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(#5ebfe0 , #C8EEF7);
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
}

.topPage {
    margin: 0;
    position: absolute;
    z-index: 100;
    top: 12px;
    left: 30px;
}
.topPage a {
    font-family: "Zen Maru Gothic", sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 700;
    font-size: 1.28rem;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh auto;
}

.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40vh 40vh;
}

.cloud-png {
    background-image: url(../../images/cloud.gif);
    background-size: contain;
    background-repeat: repeat-x;
    width: 200%;
    animation: cloudMove 60s linear infinite;
}
.cloud-png img {
    width: 20rem;
}
@keyframes cloudMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.worksAll {
    box-sizing: border-box;
    grid-row: 1 / span 2;
    padding: 40px 60px 60px;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.gallery {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    color: #fff;
}

.about-profile {
    padding: 20px 40px;
    letter-spacing: 1.2px;
    line-height: 1.6;
}
.about-profile h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0;
}
.about-profile span {
    padding-left: 12px;
    font-size: 1.2rem;
}

.my-name {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 700;
}
.my-name span {
    font-size: 1rem;
}

.about-profile .summary {
    margin: 0;
    padding: 12px 0;
    line-height: 1.7;
    font-size: 1rem;
}

.cando-heading {
    font-size: 1.28rem;
}
.cando-heading::before {
    content: "ー ";
}
.cando h5 {
    font-size: 1.15rem;
    margin: 0;
    display: inline-block;
    border-bottom: 3px dotted #fff;
}
.tools {
    padding-top: 10px;
}
.hobby {
    padding-bottom: 10px;
}
.content-heading {
    font-size: 1.15rem;
}
.tools-list,
.hobby-list {
    display: none;
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 0;
    padding-left: 30px;
    list-style: none;
    line-height: 1.7;
}
.content-heading::before {
    font: var(--fa-font-solid);
    content: "\f13a";
    padding-right: 10px;
    color: #fff;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1 / 2;
}
.menuButton,
.closeButton {
    margin: 10px 0;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    display: none;
    z-index: 990;
}
.menuButton i {
    font-size: 1.6rem;
    color: #333;
}
.closeButton i {
    font-size: 1.8rem;
}
.menu-items {
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.menu-items li {
    margin-top: 16px;
    background-color: #F4C0C2;
    border-radius: 50px;
    padding: 10px 40px;
}
.menu-items a {
    display: inline-block;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: 1.12rem;
    letter-spacing: 1.2px;
}

.gif {
    grid-column: 2;
    grid-row: 2 / 3;
    position: relative;
}
.gif img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 19rem;
}

@media screen and (max-width:1200px) {
    .gif img {
    width: 17rem;
    }
}
@media screen and (max-width:1000px) {
    .worksAll {
        padding: 28px;
    }
    .gallery {
        gap: 24px;
    }
    .about-profile {
    padding: 20px 28px;
    }
    .cloud-png {
        height: 9rem;
    }
    .gif img {
    width: 15rem;
    }
}
@media screen and (max-width:768px) {
    main {
        grid-template-rows: 15vh auto;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .topPage {
        left: 20px;
    }
    .topPage img {
        width: 5rem;
    }
    .worksAll {
        padding: 0 20px 40px 20px;
        height: 65vh;
    }
    .cloud-png {
        height: 10vh;
    }
    .home {
        display: block;
    }
    .about-profile  {
        padding: 0;
    }
    .about-profile h2 {
        font-size: 1.4rem;
    }
    .about-profile span {
        font-size: 0.88rem;
    }
    .about-profile .summary {
    font-size: .8rem;
    }
    .my-name {
        font-size: 1rem;
    }
    .my-name span {
        font-size: 0.88rem;
    }
    .cando-heading,
    .content-heading {
        font-size: 1rem;
    }
    .cando h5 {
        font-size: 1rem;
    }
    .cando p,
    .tools-list li,
    .hobby-list li {
        font-size: .8rem;
    }
    .navigation {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #5ebfe0;
        padding-inline-start: 0
    }
    nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);  
    }
    .menuButton {
        display: block;
    }
    .gif {
        text-align: right;
    }
    .gif img {
        position: static;
        width: auto;
        height: 20vh;
    }
    .modal-inner {
        width: 90%;
        height: 80vh;
        padding: 24px;
    }
    .modal-close {
    font-size: 1.6rem;
    }
    .modal-inner h3 {
        font-size: 1rem;
    }
    .modal-inner p {
        font-size: .88rem;
    }
}